<div class="col2 row1">Room 1</div>
<div class="col3 row1">Room 2</div>
<div class="col4 row1">Room 3</div>
<div class="col5 row1">Room 4</div>
<div class="col6 row1">Gym</div>
<div class="col7 row1">Outside</div>
<div class="col8 row1">Offsite</div>

<div class="shim"></div>
<div class="col1 row2">9:30</div> 
<div class="col1 row3">10:00</div>
<div class="col1 row4">10:30</div>
<div class="col1 row5">11:00</div>
<div class="col1 row6">11:30</div>
<div class="col1 row7">12:00</div>
<div class="col1 row8">12:30</div>
<div class="col1 row9">1:00</div>
<div class="col1 row10">1:30</div>
<div class="col1 row11">2:00</div>
<div class="col1 row12">2:30</div>
<div class="col1 row13">3:00</div>
