@use 'sass:color';

:root {
  --primary: 60, 105, 57;
  --on-primary: 255, 255, 255;
  --primary-container: 188, 240, 180;
  --on-primary-container: 0, 34, 3;
  --secondary: 83, 99, 79;
  --on-secondary: 255, 255, 255;
  --secondary-container: 214, 232, 206;
  --on-secondary-container: 17, 31, 15;
  --tertiary: 56, 101, 106;
  --on-tertiary: 255, 255, 255;
  --tertiary-container: 188, 235, 240;
  --on-tertiary-container: 0, 32, 35;
  --error: 186, 26, 26;
  --on-error: 255, 255, 255;
  --error-container: 255, 218, 214;
  --on-error-container: 65, 0, 2;
  --surface-dim: 216, 219, 210;
  --surface: 247, 251, 241;
  --surface-bright: 247, 251, 241;
  --surface-container-lowest: 255, 255, 255;
  --surface-container-low: 241, 245, 235;
  --surface-container: 236, 239, 230;
  --surface-container-high: 230, 233, 224;
  --surface-container-highest: 224, 228, 219;
  --on-surface: 25, 29, 23;
  --on-surface-variant: 66, 73, 64;
  --outline: 114, 121, 111;
  --outline-variant: 194, 201, 189;
  --inverse-surface: 45, 50, 44;
  --inverse-on-surface: 239, 242, 233;
  --inverse-primary: 161, 211, 153;
  --scrim: 0, 0, 0;
  --shadow: 0, 0, 0;
}

@mixin label-small { font-size: 12px; line-height: 16px; letter-spacing: 0.5px; font-weight: 600; }
@mixin label-medium { font-size: 14px; line-height: 20px; letter-spacing: 0.1px; font-weight: 600; }
@mixin label-large { font-size: 16px; line-height: 24px; letter-spacing: 0.5px; font-weight: 600; }
@mixin body-small { font-size: 14px; line-height: 20px; letter-spacing: 0.25px; }
@mixin body-medium { font-size: 16px; line-height: 24px; letter-spacing: 0.5px; }
@mixin body-large { font-size: 18px; line-height: 26px; }
@mixin title-small { font-size: 16px; line-height: 24px; letter-spacing: 0.15px; font-weight: 600; }
@mixin title-medium { font-size: 18px; line-height: 26px; font-weight: 600; }
@mixin title-large { font-size: 24px; line-height: 32px; }
@mixin headline-small { font-size: 28px; line-height: 36px; }
@mixin headline-medium { font-size: 32px; line-height: 40px; }
@mixin headline-large { font-size: 36px; line-height: 44px; }
@mixin display-large { font-size: 64px; line-height: 72px; letter-spacing: -0.25px; }
@mixin display-medium { font-size: 50px; line-height: 56px; letter-spacing: -0.25px; }
@mixin display-small { font-size: 40px; line-height: 48px; }

@mixin elevation-level1 { box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); }
@mixin elevation-level2 { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3); }
@mixin elevation-level3 { box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3); }
@mixin elevation-level4 { box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17), 0 20px 40px 0 rgba(0, 0, 0, 0.3); }
@mixin elevation-level5 { box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15), 0 27px 55px 0 rgba(0, 0, 0, 0.3); }

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
}
body {
  font-family: Carlito, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 88px 24px 24px;
}
@media (width <= 599px) {
  body {
    padding: 80px 16px 16px;
  }
  span.weekday-suffix {
    display: none;
  }
  .class-description-container {
    grid-template-columns: repeat(1, auto);
  }
}
@media (600px <= width <= 839px) {
  span.weekday-suffix {
    display: none;
  }
  .class-description-container {
    grid-template-columns: repeat(1, auto);
  }
}
@media (840px <= width <= 1199px) {
  .class-description-container {
    grid-template-columns: repeat(2, auto);
  }
}
@media (1200px <= width) {
  .class-description-container {
    grid-template-columns: repeat(3, auto);
  }
}

input[type=checkbox], input[type=radio] {
  appearance: none;
  outline: none;
  position: absolute;
}

.button {
  appearance: none;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  place-content: center;
  place-items: center;
  text-decoration: none;
  @include label-large;
  &.common {
    border-radius: 20px;
    column-gap: 8px;
    height: 40px;
    min-width: max-content;
    & > .icon {
      height: 18px;
      width: 18px;
    }
    &.elevated {
      background-color: rgb(var(--surface-container-low));
      color: rgb(var(--primary));  
      @include elevation-level1;
      &:hover {
        @include elevation-level2;
      }
    }
    &.filled {
      background-color: rgb(var(--primary));  
      color: rgb(var(--on-primary));  
      &:hover {
        @include elevation-level1;
      }
    }
    &.filled-tonal {
      background-color: rgb(var(--secondary-container));  
      color: rgb(var(--on-secondary-container));  
      &:hover {
        @include elevation-level1;
        background-color: rgb(var(--on-secondary-container), 0.08);
      }
      &:focus {
        background-color: rgb(var(--on-secondary-container), 0.1);
      }
      &:active {
        background-color: rgb(var(--on-secondary-container), 0.1);
      }
    }
    &.outlined {
      border: 1px rgb(var(--outline)) solid;
      color: rgb(var(--primary));  
    }
    &.elevated, &.filled, &.outlined, &.text {
      &:hover {
        background-color: rgb(var(--on-primary), 0.08);
      }
      &:focus {
        background-color: rgb(var(--on-primary), 0.1);
      }
      &:active {
        background-color: rgb(var(--on-primary), 0.1);
      }
    }
    &.text {
      color: rgb(var(--primary));  
      &.no-icon {
        padding: 0 12px;
      }
      &.with-icon {
        padding: 0 16px 0 12px;
      }
    }
    &.elevated, &.filled, &.filled-tonal, &.outlined {
      &.no-icon {
        padding: 0 24px;
      }
      &.with-icon {
        padding: 0 24px 0 16px;
      }
    }
  }
  &.fab {
    background-color: rgb(var(--primary-container));  
    color: rgb(var(--on-primary-container));  
    column-gap: 16px;
    position: fixed;
    bottom: 16px;
    right: 16px;

    @include elevation-level1;

    &.small, &.regular, &.extended {
      & > .icon {
        height: 24px;
        width: 24px;
      }
    }
    &.large > .icon {
      height: 36px;
      width: 36px;
    }
    &.regular {
      width: 56px;
    }
    &.extended {
      min-width: 80px;
    }
    &.regular, &.extended {
      height: 56px;
      border-radius: 16px;
    }
    &.small {
      height: 40px;
      width: 40px;
      border-radius: 12px;
    }
    &.large {
      height: 96px;
      width: 96px;
      border-radius: 28px;
    }
    &:hover {
      background-color: rgb(var(--on-primary-container), 0.08);
      @include elevation-level2;
    }
    &:focus {
      background-color: rgb(var(--on-primary-container), 0.1);
    }
    &:active {
      background-color: rgb(var(--on-primary-container), 0.1);
    }
  }
  &.icon-button {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    & > .icon {
      width: 24px;
      height: 24px;
    }
    &.standard {
      &.toggle {
        color: rgb(var(--on-surface-variant));  
        &:hover {
          background-color: rgb(var(--primary), 0.08);
        }
        &:active {
          background-color: rgb(var(--primary), 0.1);
        }
      }
      input[type=checkbox]:focus + &.toggle {
        background-color: rgb(var(--primary), 0.1);
      }
      &.normal, input[type=checkbox]:checked + &.toggle {
        color: rgb(var(--primary));  
        &:hover {
          background-color: rgb(var(--on-surface-variant), 0.08);
        }
        &:active {
          background-color: rgb(var(--on-surface-variant), 0.1);
        }
      }
      &.normal:focus, input[type=checkbox]:checked:focus + &.toggle {
        background-color: rgb(var(--on-surface-variant), 0.1);
      }
    }

    &.filled {
      &.toggle {
        color: rgb(var(--primary));  
        background-color: rgb(var(--surface-container-highest));  
        &:hover {
          background-color: rgb(var(--primary), 0.08);
        }
        &:active {
          background-color: rgb(var(--primary), 0.1);
        }
      }
      input[type=checkbox]:focus + &.toggle {
        background-color: rgb(var(--primary), 0.1);
      }
      &.normal, input[type=checkbox]:checked + &.toggle {
        color: rgb(var(--on-primary));  
        background-color: rgb(var(--primary));  
        &:hover {
          background-color: rgb(var(--on-primary), 0.08);
        }
        &:active {
          background-color: rgb(var(--on-primary), 0.1);
        }
      }
      &.normal:focus, input[type=checkbox]:checked:focus + &.toggle {
        background-color: rgb(var(--on-primary), 0.1);
      }
    }

    &.filled-tonal {
      &.toggle {
        color: rgb(var(--on-surface-variant));  
        background-color: rgb(var(--surface-container-highest));  
        &:hover {
          background-color: rgb(var(--on-surface-variant), 0.08);
        }
        &:active {
          background-color: rgb(var(--on-surface-variant), 0.1);
        }
      }
      input[type=checkbox]:focus + &.toggle {
        background-color: rgb(var(--on-surface-variant), 0.1);
      }
      &.normal, input[type=checkbox]:checked + &.toggle {
        color: rgb(var(--on-secondary-container));  
        background-color: rgb(var(--secondary-container));  
        &:hover {
          background-color: rgb(var(--on-secondary-container), 0.08);
        }
        &:active {
          background-color: rgb(var(--on-secondary-container), 0.1);
        }
      }
      &.normal:focus, input[type=checkbox]:checked:focus + &.toggle {
        background-color: rgb(var(--on-secondary-container), 0.1);
      }
    }

    &.outlined {
      &.toggle {
        color: rgb(var(--on-surface-variant));  
        border: 1px surface solid;
        &:hover {
          background-color: rgb(var(--on-surface-variant), 0.08);
        }
        &:active {
          background-color: rgb(var(--on-surface-variant), 0.1);
        }
      }
      input[type=checkbox]:focus + &.toggle {
        background-color: rgb(var(--on-surface-variant), 0.1);
      }
      &.normal, input[type=checkbox]:checked + &.toggle {
        color: rgb(var(--inverse-on-surface));  
        background-color: rgb(var(--inverse-surface));  
        border: 0;
        &:hover {
          background-color: rgb(var(--inverse-on-surface), 0.08);
        }
        &:active {
          background-color: rgb(var(--inverse-on-surface), 0.1);
        }
      }
      &.normal:focus, input[type=checkbox]:checked:focus + &.toggle {
        background-color: rgb(var(--inverse-on-surface), 0.1);
      }
    }
  }

  &.segmented {
    height: 40px;
    border-radius: 20px;
    padding: 0 12px;
    column-gap: 8px;
    color: rgb(var(--on-surface));  
    &:hover {
      background-color: rgb(var(--on-surface), 0.08);
    }
    &:active {
      background-color: rgb(var(--on-surface), 0.1);
    }
    input[type=checkbox]:focus + &, input[type=radio]:focus + & {
      background-color: rgb(var(--on-surface), 0.1);
    }
    input[type=checkbox]:checked + &, input[type=radio]:checked + & {
      color: rgb(var(--on-secondary-container));  
      background-color: rgb(var(--secondary-container));  
      border: 1px rgb(var(--outline)) solid;
      &:hover {
        background-color: rgb(var(--on-secondary-container), 0.08);
      }
      &:active {
        background-color: rgb(var(--on-secondary-container), 0.1);
      }
    }
    input[type=checkbox]:checked:focus + &, input[type=radio]:checked:focus + & {
      background-color: rgb(var(--on-secondary-container), 0.1);
    }
  }
}

.segmented-button-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  place-content: stretch;
  place-items: stretch;
  border-radius: 21px;
  height: 42px;
  border: 1px rgb(var(--outline)) solid;
  background-color: rgb(var(--surface));  
}

.app-bar {
  display: flex;
  flex-flow: row nowrap;
  place-content: center;
  place-items: center;
  gap: 8px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  &.top {
    background-color: rgb(var(--primary));  
    @include elevation-level1;
    &.small {
      height: 64px;
      padding: 0 12px;
      & > .home-link {
        appearance: none;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        place-content: center;
        place-items: center;
        text-decoration: none;
        color: rgb(var(--on-primary));
        flex-grow: 1;
        & > .headline {
          flex-grow: 1;
          @include title-large;
        }
        & > .leading-icon {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}

/* <div class="app-bar top small"><a class="home-link" href=""><svg class="leading-icon"></svg><h1 class="headline"></h1></a><nav></nav></div> */

/* lists menus navigation-drawer text-field */
/* responsive-dropdown-menu */

.card {
  border-radius: 12px;
  padding: 16px;

  &.elevated {
    background-color: rgb(var(--surface-container-low));  
    @include elevation-level1;
    &:target {
      background-color: rgb(var(--on-surface), 0.1);
      @include elevation-level2;
    }
  }
  &.filled {
    background-color: rgb(var(--surface-container-highest));  
    &:target {
      background-color: rgb(var(--on-surface), 0.1);
      @include elevation-level1;
    }
  }
  &.outlined {
    background-color: rgb(var(--surface));  
    border: 1px rgb(var(--outline-variant)) solid;
  }
}

/* loyal heights homeschool specific stuff */


.schedule {
  display: grid; /* display: none; */
  gap: 4px;
  grid-auto-columns: max-content;
  grid-auto-rows: max-content;
  max-width: 100%;
  overflow-x: scroll;
  & > * {
    padding: 8px;
  }
  & > .col1 {
    align-self: center;
    border-radius: 8px;
    left: 0;
    position: sticky;
    text-align: center;
    z-index: 2;
    @include label-medium;
  }
  & > .row1 {
    border-radius: 8px;
    text-align: center;
    @include label-medium;
  }
  & > a {
    background-color: rgb(var(--surface));  
    border-radius: 8px;
    border: 1px rgb(var(--outline-variant)) solid;
    color: rgb(var(--on-surface));  
    text-decoration: none;
    @include body-small;
    &:hover {
      background-color: rgb(var(--on-surface), 0.08);
      @include elevation-level1;
    }
    & > .class-name {
      @include title-small;
    }
  }
  & > .non-class {
    background-color: rgb(var(--surface));
    border-radius: 8px;
    border: 1px rgb(var(--outline-variant)) solid;
    color: rgb(var(--on-surface));
    display: flex;
    place-content: center;
    place-items: center;
    text-transform: uppercase;
    @include title-small;
  }
  & > .shim {
    position: sticky;
    left: 0;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 14;
    background-color: white;
    z-index: 1;
  }
}

.class-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  scroll-margin-top: 72px;
  & .name {
    @include title-large;
  }
  & .info {
    @include title-medium;
  }
  & .description {
    @include body-medium;
    flex-grow: 1;
  }
  & .enroll {
    align-self: flex-start;
  }
  &:target {
      background-color: rgb(var(--on-surface), 0.1);
      @include elevation-level1;
    }
}

.divider {
  border-top: 1px rgb(var(--outline-variant)) solid;
  margin-top: 8px;
  margin-bottom: 12px;
}

.class-description-container {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 8px;
  grid-auto-rows: auto;
}

nav {
  display: flex;
        flex-flow: row nowrap;
        place-content: center;
        place-items: center;
  gap: 8px;
}

.col1 { grid-column: 1; }
.col2 { grid-column: 2; }
.col3 { grid-column: 3; }
.col4 { grid-column: 4; }
.col5 { grid-column: 5; }
.col6 { grid-column: 6; }
.col7 { grid-column: 7; }
.col8 { grid-column: 8; }
.col9 { grid-column: 9; }

.row1 { grid-row: 1; }
.row2 { grid-row: 2; }
.row3 { grid-row: 3; }
.row4 { grid-row: 4; }
.row5 { grid-row: 5; }
.row6 { grid-row: 6; }
.row7 { grid-row: 7; }
.row8 { grid-row: 8; }
.row9 { grid-row: 9; }
.row10 { grid-row: 10; }
.row11 { grid-row: 11; }
.row12 { grid-row: 12; }
.row13 { grid-row: 13; }
.row14 { grid-row: 14; }
.row15 { grid-row: 15; }
.row16 { grid-row: 16; }
