<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <nav class="top-app-bar__small">
      <h1 class="headline">{{ site.title }}</h1>
      
      <a href="/quarters/2024-fall.html" class="button">Fall</a>
      <a href="/quarters/2025-winter.html" class="button">Winter</a>
      <a href="/quarters/2025-spring.html" class="button">Spring</a>
      <a href="/calendar.html" class="button">Calendar</a>
      <a href="/faq.html" class="button">FAQ</a>
    </nav>
     <h1>{{ page.title }}</h1>
    {{ content }}
  </body>
</html>
