---
layout: default
---
{% if page.dates %}<p><strong>Wednesdays: {{ page.dates }}</strong></p>{% endif %}
{% if page.register %}<p><strong>Registration opens {{ page.register }} at noon.</strong></p>{% endif %}

{% assign tu = false %}
{% assign we = false %}
{% assign th = false %}
{% assign fr = false %}
{% assign mo_hf_hr = false %}{% assign tu_hf_hr = false %}{% assign we_hf_hr = false %}{% assign th_hf_hr = false %}{% assign fr_hf_hr = false %}
{% assign mo_qt_hr = false %}{% assign tu_qt_hr = false %}{% assign we_qt_hr = false %}{% assign th_qt_hr = false %}{% assign fr_qt_hr = false %}
{% assign mo_rm_1 = false %}{% assign tu_rm_1 = false %}{% assign we_rm_1 = false %}{% assign th_rm_1 = false %}{% assign fr_rm_1 = false %}
{% assign mo_rm_2 = false %}{% assign tu_rm_2 = false %}{% assign we_rm_2 = false %}{% assign th_rm_2 = false %}{% assign fr_rm_2 = false %}
{% assign mo_rm_3 = false %}{% assign tu_rm_3 = false %}{% assign we_rm_3 = false %}{% assign th_rm_3 = false %}{% assign fr_rm_3 = false %}
{% assign mo_rm_4 = false %}{% assign tu_rm_4 = false %}{% assign we_rm_4 = false %}{% assign th_rm_4 = false %}{% assign fr_rm_4 = false %}
{% assign mo_gym = false %}{% assign tu_gym = false %}{% assign we_gym = false %}{% assign th_gym = false %}{% assign fr_gym = false %}
{% assign mo_kit = false %}{% assign tu_kit = false %}{% assign we_kit = false %}{% assign th_kit = false %}{% assign fr_kit = false %}
{% assign mo_out = false %}{% assign tu_out = false %}{% assign we_out = false %}{% assign th_out = false %}{% assign fr_out = false %}
{% assign mo_off = false %}{% assign tu_off = false %}{% assign we_off = false %}{% assign th_off = false %}{% assign fr_off = false %}
{% for class in site.data.classes %}{% if class.quarter == page.data %}
  {% case class.day_of_the_week %}
    {% when "Monday" %}{% assign mo = true %}
    {% when "Tuesday" %}{% assign tu = true %}
    {% when "Wednesday" %}{% assign we = true %}
    {% when "Thursday" %}{% assign th = true %}
    {% when "Friday" %}{% assign fr = true %}
  {% endcase %}
  {% case class.room %}
    {% when "Room 1" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_rm_1 = true %}
        {% when "Tuesday" %}{% assign tu_rm_1 = true %}
        {% when "Wednesday" %}{% assign we_rm_1 = true %}
        {% when "Thursday" %}{% assign th_rm_1 = true %}
        {% when "Friday" %}{% assign fr_rm_1 = true %}
      {% endcase %}
    {% when "Room 2" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_rm_2 = true %}
        {% when "Tuesday" %}{% assign tu_rm_2 = true %}
        {% when "Wednesday" %}{% assign we_rm_2 = true %}
        {% when "Thursday" %}{% assign th_rm_2 = true %}
        {% when "Friday" %}{% assign fr_rm_2 = true %}
      {% endcase %}
    {% when "Room 3" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_rm_3 = true %}
        {% when "Tuesday" %}{% assign tu_rm_3 = true %}
        {% when "Wednesday" %}{% assign we_rm_3 = true %}
        {% when "Thursday" %}{% assign th_rm_3 = true %}
        {% when "Friday" %}{% assign fr_rm_3 = true %}
      {% endcase %}
    {% when "Room 4" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_rm_4 = true %}
        {% when "Tuesday" %}{% assign tu_rm_4 = true %}
        {% when "Wednesday" %}{% assign we_rm_4 = true %}
        {% when "Thursday" %}{% assign th_rm_4 = true %}
        {% when "Friday" %}{% assign fr_rm_4 = true %}
      {% endcase %}
    {% when "Gym" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_gym = true %}
        {% when "Tuesday" %}{% assign tu_gym = true %}
        {% when "Wednesday" %}{% assign we_gym = true %}
        {% when "Thursday" %}{% assign th_gym = true %}
        {% when "Friday" %}{% assign fr_gym = true %}
      {% endcase %}
    {% when "Kitchen" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_kit = true %}
        {% when "Tuesday" %}{% assign tu_kit = true %}
        {% when "Wednesday" %}{% assign we_kit = true %}
        {% when "Thursday" %}{% assign th_kit = true %}
        {% when "Friday" %}{% assign fr_kit = true %}
      {% endcase %}
    {% when "Outside" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_out = true %}
        {% when "Tuesday" %}{% assign tu_out = true %}
        {% when "Wednesday" %}{% assign we_out = true %}
        {% when "Thursday" %}{% assign th_out = true %}
        {% when "Friday" %}{% assign fr_out = true %}
      {% endcase %}
    {% when "Offsite" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_off = true %}
        {% when "Tuesday" %}{% assign tu_off = true %}
        {% when "Wednesday" %}{% assign we_off = true %}
        {% when "Thursday" %}{% assign th_off = true %}
        {% when "Friday" %}{% assign fr_off = true %}
      {% endcase %}
  {% endcase %}
  {% case class.start_time %}
    {% when "9.5", "10.5", "11.5", "12.5", "1.5", "2.5", "3.5", "4.5" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_hf_hr = true %}
        {% when "Tuesday" %}{% assign tu_hf_hr = true %}
        {% when "Wednesday" %}{% assign we_hf_hr = true %}
        {% when "Thursday" %}{% assign th_hf_hr = true %}
        {% when "Friday" %}{% assign fr_hf_hr = true %}
      {% endcase %}
    {% when "9.25", "9.75", "10.25", "10.75", "11.25", "11.75", "12.25", "12.75", "1.25", "1.75", "2.25", "2.75", "3.25", "3.75", "4.25", "4.75" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_qt_hr = true %}
        {% when "Tuesday" %}{% assign tu_qt_hr = true %}
        {% when "Wednesday" %}{% assign we_qt_hr = true %}
        {% when "Thursday" %}{% assign th_qt_hr = true %}
        {% when "Friday" %}{% assign fr_qt_hr = true %}
      {% endcase %}
  {% endcase %}
  {% case class.end_time %}
    {% when "9.5", "10.5", "11.5", "12.5", "1.5", "2.5", "3.5", "4.5" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_hf_hr = true %}
        {% when "Tuesday" %}{% assign tu_hf_hr = true %}
        {% when "Wednesday" %}{% assign we_hf_hr = true %}
        {% when "Thursday" %}{% assign th_hf_hr = true %}
        {% when "Friday" %}{% assign fr_hf_hr = true %}
      {% endcase %}
    {% when "9.25", "9.75", "10.25", "10.75", "11.25", "11.75", "12.25", "12.75", "1.25", "1.75", "2.25", "2.75", "3.25", "3.75", "4.25", "4.75" %}
      {% case class.day_of_the_week %}
        {% when "Monday" %}{% assign mo_qt_hr = true %}
        {% when "Tuesday" %}{% assign tu_qt_hr = true %}
        {% when "Wednesday" %}{% assign we_qt_hr = true %}
        {% when "Thursday" %}{% assign th_qt_hr = true %}
        {% when "Friday" %}{% assign fr_qt_hr = true %}
      {% endcase %}
  {% endcase %}
{% endif %}{% endfor %}

<div class="tabs">
  {% if mo %}<input type="radio" name="tabs" id="Monday"><label for="Monday">Monday</label>{% endif %}
  {% if tu %}<input type="radio" name="tabs" id="Tuesday"><label for="Tuesday">Tuesday</label>{% endif %}
  {% if we %}<input type="radio" name="tabs" id="Wednesday" checked><label for="Wednesday">Wednesday</label>{% endif %}
  {% if th %}<input type="radio" name="tabs" id="Thursday"><label for="Thursday">Thursday</label>{% endif %}
  {% if fr %}<input type="radio" name="tabs" id="Friday"><label for="Friday">Friday</label>{% endif %}
<div id="WednesdaySchedule" class="schedule">
{% include schedule.html %}

{% for class in site.data.classes %}{% if class.quarter == page.data and class.day_of_the_week == 'Wednesday' %}
<a class="{% case class.room %}{% when "Room 1" %}col2{% when "Room 2" %}col3{% when "Room 3" %}col4{% when "Room 4" %}col5{% when "Gym" %}col6{% when "Outside" %}col7{% when "Offsite" %}col8{% endcase %} cell" style="grid-row-start: {% case class.start_time %}{% when "9.5" %}2{% when "10" %}3{% when "10.5" %}4{% when "11" %}5{% when "11.5" %}6{% when "12" %}7{% when "12.5" %}8{% when "1" %}9{% when "1.5" %}10{% when "2" %}11{% when "2.5" %}12{% when "3" %}13{% endcase %}; grid-row-end: {% case class.end_time %}{% when "10" %}3{% when "10.5" %}4{% when "11" %}5{% when "11.5" %}6{% when "12" %}7{% when "12.5" %}8{% when "1" %}9{% when "1.5" %}10{% when "2" %}11{% when "2.5" %}12{% when "3" %}13{% when "3.5" %}14{% endcase %}" href="#{{ class.class_name | downcase | replace: " ", "-" }}">{{ class.class_name }}<br>
  {{ class.teacher_name }}<br>
  Ages: {{ class.ages }}<br>
  ${{ class.class_price }}
  <br>{{ class.exceptions }}
</a>
{% endif %}{% endfor %}
</div>
</div>
{% if page.schedule %}<p><a rel="noreferrer noopener" target="_blank" href="{{ page.schedule }}">Download Class Schedule as Printable PDF</a></p>{% endif %}
<h2>Descriptions</h2>
{% if page.descriptions %}<p><a rel="noreferrer noopener" target="_blank" href="{{ page.descriptions }}">Download Class Descriptions as Printable PDF</a></p>{% endif %}
<h3>Wednesdays</h3>

<div class="descriptions">
{% for class in site.data.classes %}{% if class.quarter == page.data and class.day_of_the_week == "Wednesday" %}
<div id="{{ class.class_name | downcase | replace: " ", "-"}}" class="description">
  <h4>{{ class.class_name }}{% if class.status %} - <mark>{{ class.status }}</mark>{% endif %}</h4>
  <p>
    Instructor: <a href="/meet-our-teachers.html#{{ class.teacher_name | downcase | replace: " ", "-" }}">{{ class.teacher_name }}</a><br>
    Ages: {{ class.ages }}<br>
    Maximum class size: {{ class.maximum_students }}<br>
    ${{ class.class_price }}
    {% if class.exceptions %}<br>{{ class.exceptions }}{% endif %}
    {% if class.link %}<br><a rel="noreferrer noopener" target="_blank" href="{{ class.link }}">Enroll in {{ class.class_name }}</a>{% endif %}
  </p>
  <p>
    {{ class.description }}
  </p>
</div>
{% endif %}{% endfor %}
</div>
